[submodule "Submodules/Sewer56.SonicRiders"]
	path = Submodules/Sewer56.SonicRiders
	url = https://github.com/Sewer56/Sewer56.SonicRiders
[submodule "Submodules/NumberUtilities"]
	path = Submodules/NumberUtilities
	url = https://github.com/Sewer56/NumberUtilities.git
[submodule "Submodules/LiteNetLib"]
	path = Submodules/LiteNetLib
	url = https://github.com/Sewer56/LiteNetLib.git
[submodule "Submodules/MLAPI.Puncher"]
	path = Submodules/MLAPI.Puncher
	url = https://github.com/Sewer56/MLAPI.Puncher.git
[submodule "Submodules/Riders.Tweakbox.API"]
	path = Submodules/Riders.Tweakbox.API
	url = https://github.com/Sewer56/Riders.Tweakbox.API
[submodule "Submodules/reloaded.universal.redirector"]
	path = Submodules/reloaded.universal.redirector
	url = https://github.com/Reloaded-Project/reloaded.universal.redirector.git
[submodule "Submodules/Riders.Controller.Hook"]
	path = Submodules/Riders.Controller.Hook
	url = https://github.com/Sewer56/Riders.Controller.Hook.git